footer {
    height: 5%;
    z-index: 100;
    @include flex(column, center, flex-start);
    text-align:center;
    border-top: 2px solid $secondaryColor;
    background-color: $primaryColor;
    
    p {
        @include font($secondaryFont, 1rem, 300);

    }
}