footer {
    @include font($secondaryFont, .4rem, 300);
    border-top: 2px solid $secondaryColor;
    text-align:center;
    z-index: 100;
    background-color: $primaryColor;
    height: 5%;
    @include flex(column, center, flex-start);
    
    p {
        font-size:1rem;
       
    }
}