body {
    font-size: 62.5%;
    background-color: $primaryColor;
    color: $secondaryColor;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;

}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(00 0 0);
    overflow: hidden;
}

img {
    display: block;
}

p {
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;

}

a {
    text-decoration: none;

}