@mixin flex ($direction, $justify, $align){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin font ($family, $size, $weight) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

$primaryFont: 'Open Sans',
sans-serif;
$secondaryFont: 'Open Sans Condensed',
sans-serif;

$primaryColor:#002a45;
$secondaryColor:#ff7367;