main {
    margin: 0 4rem;
   @include flex(row, flex-start, center);
   flex-wrap: wrap;
   height: 70vh;
   overflow:hidden;
}

.bandCardContainer {
    border: 2px solid $secondaryColor;
    text-align:center;
    width: 30%;
    margin: 1rem;
    flex-wrap:wrap;
    padding: 15px;
    animation: scrollAlbumUp 50s linear infinite;

    img{
        width: 100%;
    }
    
   h2 {
       @include font($primaryFont, 2rem, 300);

   }

   p {
    margin:4px;
    padding:0;
   @include font ($primaryFont, 1.8rem, 300);
   text-align:left;

   }

   a {
       border: 1px solid $secondaryColor;
       @include font ($primaryFont, 20px, 300);
       padding: 5px;
       margin: 10px;
       color: $secondaryColor;
       transition: .2s all linear;

        &:hover {
            background-color: $secondaryColor;
            color:$primaryColor;
        }
   }
}

.imagePlaceholder {
    width: 100%;
    height: 200px;
    background-color: $secondaryColor;
}

@keyframes scrollAlbumUp {
    0% {
        opacity:1;
        transform: translateY(-1500px);
        z-index: -1;
     
    }
    50% {
        opacity: 1;
        transform: translateY(0px);
 
    }
    100% {
        opacity:1;
        transform: translateY(800px);
      
    }
}