header {
   @include flex(column, center, flex-end);
   z-index: 100;
   background-color:$primaryColor;
   height: 15vh;
   border-bottom: 2px solid $secondaryColor;
   transition: .3s height linear;
   overflow:hidden;
   
   h1 {
       @include font($primaryFont,4rem, 300);
       text-transform:lowercase;
       width:100%;
       padding:0;
       margin-bottom:45px;
   }

   &:hover,
   &:focus {
       height: 27vh;
   }
}

header:hover+footer {
    height: 0;
}


nav input {
     background-color: $primaryColor;
     border: none;
     color: $secondaryColor;
     text-align:center;
     @include font($primaryFont, 1.5rem, 300);


    //  &:focus-within {
    //      border-bottom: 1px solid $secondaryColor;
    //  }

}

.lowerCase {

    padding-left: 10px;
}

nav {
      align-self: center;
      

    ul {
       @include flex (row, space-between, center);
       
        li {
            padding: 0 5px;
            margin: 0 20px;
            @include font($secondaryFont, 3rem, 300);
            text-transform: lowercase;
            // transition: 1s border-bottom ease;
            

            &:hover {
                border-bottom: 1px solid $secondaryColor;
            }
        }
    }
}

button {
    background: transparent;
    color:$secondaryColor;

    border: 1px solid $secondaryColor;
    transition: .1s all linear;
    padding: 5px 10px;
    @include font($primaryFont, 1rem, 300);
    
 
    &:hover,
    &:focus-within, {
        border: 1px solid $secondaryColor;
        color: darken($primaryColor, 5%);
        background-color: darken($secondaryColor,5%);
    }
}

select {
    background-color: $primaryColor;
    color: $secondaryColor;
    text-align: center;
    border: none;
    padding: 3px;
    @include font($primaryFont, 1rem, 300);
    -moz-appearance: none;

    &:focus,
    &:hover {
        border-bottom: 1px solid $secondaryColor;
    }

    .caretDown {
        height: 10px;
        width:10px;
        background-color: $secondaryColor;
    }

   
}