header {
    overflow: hidden;
    width: 100%;
    height: 15vh;
    z-index: 100;
    position: fixed;
    background-color: $primaryColor;
    border-bottom: 2px solid $secondaryColor;
    transition: .3s height linear;
    


    h1 {
        width: 100%;
        @include font($primaryFont, 4rem, 300);
        text-transform: lowercase;
        padding: 0;
        margin: 0;
        text-align: right;

    }

    &:hover,
    &:focus {
        height: 27vh;

    }

}

.headerContainer {
    @include flex(column, center, space-between);
}

.headerIcon {
    font-size: 1rem;
}

nav input {
    background-color: $primaryColor;
    border: none;
    color: $secondaryColor;
    text-align: center;
    @include font($primaryFont, 1.5rem, 300);
    line-height: 1;
    padding: 7px;

    &:focus-within {
        border-bottom: 1px solid $secondaryColor;
        box-shadow: 0px 0px 10px 1px rgba($secondaryColor, 0.75);
    }

}

.headerLeft {
    @include flex(row-reverse, space-between, center);

}

nav {
    transform: translateY(2.5rem);
    align-self: center;

    ul {
        @include flex (row, space-between, center);

        li {
            padding: 0 5px;
            margin: 0 20px;
            @include font($secondaryFont, 3rem, 300);
            text-transform: lowercase;

            &:hover {
                border-bottom: 1px solid $secondaryColor;
            }
        }
    }
}

form {
    @include flex(column, flex-start, flex-start);

    button {
        width: 100%;
        margin-top: 1rem;
        padding: 5px 10px;
        @include font($primaryFont, 1rem, 300);
        background: transparent;
        border: 1px solid $secondaryColor;
        color: $secondaryColor;
        transition: .1s all linear;


        &:hover,
        &:focus-within {
            border: 1px solid $secondaryColor;
            color: darken($primaryColor, 5%);
            background-color: darken($secondaryColor, 5%);
        }
    }
}

select {
    background-color: $primaryColor;
    color: $secondaryColor;
    text-align: center;
    border: none;
    padding: 3px;
    @include font($primaryFont, 1rem, 300);
    -moz-appearance: none;

    &:focus,
    &:hover {
        border-bottom: 1px solid $secondaryColor;
        box-shadow: 0px 0px 15px 5px rgba($secondaryColor, 0.75);
    }

}

.fa-compact-disc {
    animation: 1s rotation linear infinite;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}