header {
   @include flex(column, center, flex-end);
   z-index: 100;
   background-color:$primaryColor;
   height: 15vh;
   border-bottom: 2px solid $secondaryColor;
   transition: .3s height linear;
   overflow:hidden;
   
   h1 {
       @include font($primaryFont,4rem, 600);
       text-transform:lowercase;
       width:100%;
       padding:0;
       margin-bottom:25px;
   }

   &:hover {
       height: 25vh;
   }
}

nav input {
     background-color: $primaryColor;
     border: none;
     color: $secondaryColor;
     text-align:center;
     @include font($secondaryFont, 1.5rem, 300);


    //  &:focus-within {
    //      border-bottom: 1px solid $secondaryColor;
    //  }

}

.lowerCase {

    padding-left: 10px;
}

nav {
      align-self: center;
      

    ul {
       @include flex (row, space-between, center);
       
        li {
            padding: 0 5px;
            margin: 0 20px;
            @include font($secondaryFont, 3rem, 300);
            text-transform: lowercase;
            // transition: 1s border-bottom ease;
            

            &:hover {
                border-bottom: 1px solid $secondaryColor;
            }
        }
    }
}

button {
    background: transparent;
    color:$secondaryColor;
    border: none;
    border: 1px solid $secondaryColor;
    transition: .1s all linear;
    padding: 3px;
 
    &:hover,
    &:focus-within, {
        border: 1px solid $secondaryColor;
        color: $primaryColor;
        background-color: $secondaryColor;
    }
}

